</div><!-- /.container -->
<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a> | <a href="/contacts">Contact Me</a></p>
    </div>
</footer>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--Popper CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script> <!-- https://stackoverflow.com/questions/10808109/script-tag-async-defer#answer-39711009 -->
</body>
</html>